demo/github-connector-demo/src/main/mule/github-connector-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:chuck-norris="http://www.mulesoft.org/schema/mule/chuck-norris"
	xmlns:mule-github="http://www.mulesoft.org/schema/mule/mule-github"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-github http://www.mulesoft.org/schema/mule/mule-github/current/mule-mule-github.xsd
http://www.mulesoft.org/schema/mule/chuck-norris http://www.mulesoft.org/schema/mule/chuck-norris/current/mule-chuck-norris.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<mule-github:config name="Mule_GitHub_Config" doc:name="Mule GitHub Config" doc:id="c1503ada-8221-4671-87b8-cb10972fd56f" >
		<mule-github:basic-connection gitHubPAT="" />
	</mule-github:config>
	<flow name="GetPULL" doc:id="b0a02fd4-620d-46b0-af39-564d286a7d55" >
		<scheduler doc:name="Scheduler" doc:id="84743e77-8092-4518-853f-69f32e746c2d" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="[WIP] " doc:name="Set Variable" doc:id="68272bcc-2f2f-457f-b5cf-2e4dd45ed3f4" variableName="wipSTR"/>
		<mule-github:get-pull-request-operation doc:name="Get pull request operation" doc:id="eff8829b-6b96-4994-a463-397f746343d7" config-ref="Mule_GitHub_Config" owner="pepenotti" repoName="dynamis" state="open" head="head" base="master" sort="created" direction="desc" per_age="30" page="1"/>
		<ee:transform doc:name="Transform Message" doc:id="66e8e0cd-d6a4-4487-895a-afd88884dc74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	url: payload01.url,
	id: payload01.id,
	number: payload01.number,
	state: payload01.state,
	title: payload01.title,
	body: payload01.body,
	labels: payload01.labels.name,
	base: payload01.base.ref
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Retrieved PRs" doc:id="de0850b0-93ae-4e1c-99b9-9d5bfaf000b2" message="#[payload]"/>
		<foreach doc:name="For Each PullRequest" doc:id="a1691149-193b-4682-8fa8-61cd850cfc32" collection="#[payload]" rootMessageVariableName="pullRequest">
			<choice doc:name="Choice" doc:id="a3c7393c-4297-4ec6-aca6-1708838c37b3" >
				<when expression='#[(payload.labels contains "wip") and !(payload.title contains vars.wipSTR)]'>
					<mule-github:update-pull-request-operation doc:name="Update pull request operation" doc:id="f9e865ef-9422-46b3-843c-c6d61188b134" owner="pepenotti" repoName="dynamis" pullNumber="#[payload.number]" title='#[vars.wipSTR ++ " " ++ payload.title]' body="#[payload.body]" state="#[payload.state]" base="#[payload.base]" config-ref="Mule_GitHub_Config"/>
					<logger level="INFO" doc:name="Updated" doc:id="aabe946e-f59c-48c0-aaf8-65818ba2939c" message='#["PR #" ++ payload.number ++ "was updated"]' />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Ignored" doc:id="9ea8ebd9-b29b-40d4-a8f8-31126daef886" message='#["PR #" ++ payload.number ++ "ignored"]' />
				</otherwise>
			</choice>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="89adf56f-7d47-4b1b-816b-eb0dc941c085" message="Done"/>
	</flow>
</mule>
